@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
:root{
    --cor-principal:rgba(85, 85, 250, 0.815);
    --cor-secundaria:rgb(255, 251, 26);
    --cor-destaque: rgb(255, 0, 149);
}

body{
    font-family:"Underdog" ; sans-serif;
}